@media (max-width: 360px) {
    .list-link {
        width: 80vw;
    }

    .links-social-media {
        width: 80%;
        gap: 0;
        
        li {
            flex: 1;
            text-align: center;
        }
    }
}

@media (max-height: 750px) {
    .list-link {
        margin-bottom: .5rem;

        a {
            padding: .5rem;
        }
    }
    .image-container {
        width: 180px;
        height: 180px;
    }
}

@media (max-height: 700px) {
    .links-social-media {
        margin-top: 2.125rem;
    }
    .image-container {
        width: 160px;
        height: 160px;
    }
}